.text-opacity{
    display: none;
}

.input {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 1px solid red;
    border-radius: 4px;

}

.button-check {
    display: none;
}

.input:checked ~ .text-opacity {
    display: block;    
}

.input:checked ~ .button .button-ancheck  {
    display: none;
}

.input:checked ~ .button .button-check {
    display: flex;
}